@model WebsiteMovies.Models.Account

@{
    ViewBag.Title = "PasswordForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Assets/css/AccountInfo.css" />
}
<div class="heading_user">
    <h3>Hello <span class="">@Model.displayName</span></h3>
</div>
<div class="account_frame">
        @Html.Partial("_menuProfile")
    <div class="account_info">
        <form action="/" class="account_form" method="post">
            <div class="bottom_user_profile">
                <label for="oldpassword">Mật khẩu cũ</label>
                <input type="text" name="oldpassword" id="oldpassword"disabled="disabled" value="@Model.pass" />
                <label for="newpassword">Mật khẩu mới</label>
                <input type="text" name="newpassword" id="newpassword" value="" />
                <label for="comfirmpassword">Xác nhận mật khẩu</label>
                <input type="text" name="comfirmpassword" id="comfirmpassword" value="" />
                <input type="submit" name="name"class="submit_form" value="Xác nhận" />
            </div>
        </form>
    </div>
</div>
