.container {
    background-color: #404040;
}
.post-comments {
    padding-bottom: 9px;
    margin: 155px 0 30px 20px;

}
  .media{
      width:1000px;
      display:flex;
      flex-direction:column;
  }
.media-heading {
    background-color: #171717;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}

.show-comment, .show-rating {
    background: #15d5e2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.rating {
    background: #404040;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.comment {
   
}

.comments-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}
  
  .post-comments .comment-meta {
    margin-bottom: 5px;
  }
  
  .post-comments .media-heading {
    font-size: 12px;
    color: grey;
  }
  
  .post-comments .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
  }
.comment_content_list {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

.comment_ittem {
}

.comment_item_father, .comment_item_child {
    background-color: #171717;
    display: flex;
    border-radius: 10px;
    padding: 11px 2px 6px 11px;
    margin-bottom: 5px;
}

.comment_item_child {
    margin: 5px 0 5px 40px;
}

.avatar {
    width: 56px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border: 3px solid #656565;
    border-radius: 10px;
}

    .avatar img {
        width: 100%;
        height: 100%;
    }

.right_comment_item {
    margin-left: 10px;
}

.comment_username, .comment_user_content, .comment_time {
    margin: 2px 0;
}

.comment_username {
    font-weight: 700;
    color: #669698;
    margin-right: 5px;
}

.comment_user_content {
    padding: 5px 0 8px 0;
    word-break: break-all;
    color: #afaaaa;
    font-size: 13px;
}

.comment_rep-time {
    display: flex;
}

.comment_time {
    color: #7d7d7d;
    font-size: 12px;
    
}
.card {
    padding: 50px 0 50px 50px ;
    width: 80%;
    border: none;
    border-radius: 12px;
}

.circle-image img {
    text-align: center;
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer
}

.name {
    margin-top: -21px;
    font-size: 18px
}
.rate {
    width:50%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.buttons {
    top: 36px;
    position: relative
}

.rating-submit {
    border-radius: 15px;
    color: #fff;
    height: 49px
}

.rating-submit:hover {
    color: #fff
}