
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    <style>
    </style>
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Trang chủ</li>
</ol>
<h2>Index</h2>
