<input type="hidden" name="id_movie" id="id_movie" value="@Model.movie.id" />
<div class="comment_content_list">
    @if (Session["curUser"] != null)
    {
        <form action="" id="form_comment" class="form_comment" method="post">
            <div class="form-group">
                <label for="comment">Bình luận</label>
                <textarea name="comment" id="textarea_commentFather" class="form-control" rows="3"></textarea>
            </div>
            <input type="button" class="btn btn-primary submit_commentFather mt-1" value="Gửi" />
        </form>
    }
    <div class="comment_list mt-3">

    </div>

</div>

