<div class="list_menu_account">
    <a href="/AccountInfo/" class="menu_account"><span><i class="fas fa-user-circle"></i></span> <span style="margin-left:10px">Hồ sơ</span></a>
    <a href="/AccountInfo/PasswordForm" class="menu_account"><span><i class="fas fa-key"></i></span><span style="margin-left:10px">Mật khẩu</span></a>

</div>
